<% # plugins/foton_cash_flow/app/views/foton_cash_flow/entries/_active_filters.html.erb %>

<% if filter_params.present? && filter_params.reject { |k, v| v.blank? || k == 'project_id' }.present? %>
  <div class="filters">
    <h3><%= l(:label_active_filters) %></h3>
    <ul>
      <% filter_params.each do |key, value| %>
        <% if value.present? && key != 'page' %>
          <li>
            <strong><%= l("field_#{key}".to_sym) %>:</strong>
            <%# Exibir o valor do filtro de forma mais amigável, se necessário %>
            <%= value %>
          </li>
        <% end %>
      <% end %>
      <li><%= link_to l(:button_clear), cash_flow_entries_path(project_id: project), class: 'icon icon-clear' %></li>
    </ul>
  </div>
<% end %>

<% # Fim da verificação de filtros ativos %>

