<%# app/views/foton_cash_flow/entries/_filters.html.erb %>
<div class="cf-filters-area">
  <div id="cf-filter-rules-container">
    <%# As regras de filtro serão adicionadas aqui pelo JavaScript %>
  </div>
  <div class="cf-filter-controls">
    <button class="cf-btn cf-btn-secondary" id="cf-add-filter-btn">
      <i class="icon icon-add"></i> Adicionar Filtro
    </button>
    <%# O dropdown para selecionar a coluna do novo filtro será controlado pelo JS %>
  </div>
</div>