<%# plugins/foton_cash_flow/app/views/foton_cash_flow/entries/_sync_modal.html.erb %>

<div class="modal fade" id="syncModal" tabindex="-1" role="dialog" aria-labelledby="syncModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="syncModalLabel"><%= l('foton_cash_flow.diagnostics.check_and_sync_title') %></h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <p><%= l('foton_cash_flow.notices.sync_explanation') %></p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal"><%= l('foton_cash_flow.general.cancel') %></button>
        <%= render partial: 'foton_cash_flow/entries/sync_btn' %>
      </div>
    </div>
  </div>
</div>

<%# Fim do arquivo _sync_modal.html.erb %>
