<%#
  Arquivo: app/views/foton_cash_flow/entries/index.html.erb
  Descrição: View principal que renderiza a página de lançamentos do fluxo de caixa.
%>

<div class="cash-flow-page">
  <div class="cf-header">
    <h2><%= l(:label_foton_cash_flow_entries) %></h2>
    <div class="cf-header-actions">
      <%= link_to l(:button_new_entry), new_foton_cash_flow_entry_path, class: 'cf-btn cf-btn-primary icon icon-add' %>
      <%# Outros botões como Importar/Exportar podem ser adicionados aqui %>
    </div>
  </div>

  <div class="cf-table-section">
    <%# Barra que exibirá as "pílulas" de filtros ativos. %>
    <div id="cf-active-filters-bar"></div>

    <%= render 'table' %>
  </div>

  <%# Renderiza os templates que serão usados pelo JavaScript %>
  <%= render 'filter_templates' %>
</div>