<div class="warning-box">
  <h3><%= l('foton_cash_flow.notices.no_projects.title') %></h3>
  <p><%= l('foton_cash_flow.notices.no_projects.message') %></p>
  
  <div class="actions">
    <%= link_to l('foton_cash_flow.general.create_project'), new_project_path, class: 'button-positive' %>
    <%= link_to l('foton_cash_flow.general.cancel'), cash_flow_entries_path, class: 'button-negative' %>
  </div>
</div>