<div class="warning-box">
  <h3><%= l(:warning_no_projects_title) %></h3>
  <p><%= l(:warning_no_projects_message) %></p>
  
  <div class="actions">
    <%= link_to l(:button_create_project), new_project_path, class: 'button-positive' %>
    <%= link_to l(:button_cancel), cash_flow_entries_path, class: 'button-negative' %>
  </div>
</div>